body {
  font-family:  "Lucida Console", "Courier New", monospace;
  padding 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
canvas {
  display: block;
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 0;
  border: none;
  background-color: black;
}
button {
  display: block;
  font-size: inherit;
  margin: auto;
  padding: 0.6em;
  background-color: #ff4500;
}


nav {
    background-color: #ff4500;
    flex-grow: 1;
    color: black;
    color: black;
    font-size: 24pt;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    text-decoration: none; 
}

nav>a {
    color: black;
    font-size: 24pt;
    font-family:  "Lucida Console", "Courier New", monospace;
    text-decoration: none; 
}

.main-content {
    display: flex;
}

.col {
    flex-grow: 1;
    border: 2px solid black;
}

.row-container{
    display: flex;
    flex-direction: row; 
    text-align: center;
}


.row-container>*{
    flex-grow: 1;
}


.controls {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.controls>button {
    flex-grow: 1;
}

.log {
  flex-grow: 5;
  display: inline-block;
  background-color: black;
  color: #ff4500;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#log-data {
    display: inline-block;
    background-color: black;
    color: #ff4500;
    font-size: 14pt;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-weight: normal;
}


/*
 * SECTION: Button styling.
 * Source: https://codepen.io/kanishkkunal/pen/KwpGNa
 */


.button-3d {
  font-family:  "Lucida Console", "Courier New", monospace;
  position:relative;
  width: auto;
  display:inline-block;
  color: black;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #f39c12;
  background: #ff4500;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  
  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
  -webkit-box-shadow: 0px 6px 0px black; 
  -moz-box-shadow: 0px 6px 0px black; 
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.5); 
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
}

/*
 * SECTION: Feedback section of page visuals
 * This is modified styling from:
 * Source: W3schools.
 *
 */

   
/* wrapper of the feedback. */
.fb-wrapper {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

 /* Chat fb-boxs */
.fb-box {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

/* Darker chat fb-box */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.fb-box::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.fb-box>img {
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.fb-box>img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}


/* Style for form/input.*/
input{
    font-size: 12pt;
    width: 90%;
    height: 20%;
}
